<h1>カートの中身</h1>

<table border="1">
  <tr>
    <th>商品名</th>
    <th>価格</th>
    <th>数量</th>
    <th>合計金額</th>
  </tr>
  
  <% sum = 0 %>
<% @cartitems.each do |i| %>
  <tr>
    <td><%= i.product.name %></td>
    <td><%= i.product.price %></td>
    <td><%= i.qty %></td>
    <td><%= i.product.price * i.qty %></td>
    <td><%= link_to 'カートから削除', cart_item_path(i.product_id), method: :delete %></td>
  </tr>
  
  <% sum = sum + i.product.price * i.qty %>
<% end %>
</table>
<p>
合計金額：<%= sum %>円
</p>

<p>
  <%= link_to '戻る', products_path %>
</p>