<h1>商品一覧ページ</h1>
<%= link_to '商品の追加', new_product_path %>
<%= link_to 'カートの表示', cart_path(current_cart.id) %>

<% @products.each do |p| %>
  <p>
  商品名：<%= p.name %>
  価格：<%= p.price %>円<br>
  <%= form_tag cart_items_path(product_id: p.id) do %>
    数量：<%= number_field_tag :qty, 1, size: 2 %>
    <%= submit_tag 'カートに入れる' %>
  <% end %>
  <%= link_to '削除', product_path(p), method: :delete %>
  </p><hr>
<% end %>

<p>
  <%= link_to '戻る', root_path %>
</p>