<%= form_for @product do |p| %>
<p>
  <%= p.label :name, '商品名' %><br>
  <%= p.text_field :name %>
</p>
<p>
  <%= p.label :price, '価格' %><br>
  <%= p.number_field :price %>
</p>
<%= p.submit '登録' %>
<% end %>

<p>
  <%= link_to '戻る', products_path %>
</p>